.two-tables {
  display: flex;
  gap: 2rem;
}

.schedule-table {
  table-layout: fixed;
  width: 36vw;
  max-height: 88vh;
  border-collapse: collapse;
  font-size: 1.55rem;
  background-color: #f8f8f8;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #242528;
  padding: 0.5rem;
  text-align: center;
  width: 8rem;
}

.schedule-table td#t-time-room,
.schedule-table th#t-time-room {
  width: 4.2rem;
}

.schedule-table th {
  background-image: linear-gradient(to bottom, #a2a2a2 -10%, #b2b2b2 10%, #a2a2a2 90%);
  height: 38px;
}

.schedule-table tbody tr:nth-child(even) {
  background-color: #fff;
}

@media screen and (min-width: 3800px){
  .schedule-table {
    font-size: 2.25rem;
  }
}