.two-tables {
  display: flex;
  gap: 2rem;
  padding: 0 0.5rem;
}

.schedule-table {
  table-layout: fixed;
  width: 35vw;
  max-height: 50rem;
  border-collapse: collapse;
  font-size: 1.5rem;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #444;
  padding: 0.5rem;
  text-align: center;
  height: 2rem;
  width: 8rem;
}

.schedule-table td.t-time-room,
.schedule-table th.t-time-room {
  width: 4rem;
}


.schedule-table th {
  background-color: #1a1a1a;
}

.schedule-table tbody tr:nth-child(even) {
  background-color: #242424;
}