.next-classes {
  font-size: 1.5rem;
  padding-left: 0.5rem;
  max-height: 50vh;
}

.listed-next-classes {
  padding-bottom: 1rem;
}

h2 {
  text-align: center;
  border: 1px solid #444;
  background-color: #1a1a1a;
  margin-top: 0;
}

@media screen and (min-width: 3800px){
  .next-classes{
  font-size: 2rem;
}
}