.carousel-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.carousel-header,
.carousel-footer {
  flex-shrink: 0;
  background: #0072ce;
  color: white;
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 2rem;
}

.carousel-header {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel-header h1{
  position: absolute;
  left: 50%;
  transform: TRANSLATE(-50%, 0%);
}

.carousel-main {
  flex: 1;
  overflow: hidden;
  display: flex;
  padding-left: 2rem;
}

.carousel-header img {
  height: 6rem;
  border-radius: 10px 10px 10px 10px;
  width: auto;
}

#UERJ-logo {
  background-color: #ffffff;
}