.carousel-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.carousel-header {
  transition: background-color 0.5s ease;
  background: #0072ce;
  color: #f1eeea;
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid #00000010;
  max-height: 4.5rem;
}


.carousel-header h1{
  position: absolute;
  left: 50%;
  transform: TRANSLATE(-50%, 0%);
}

.carousel-main {
  flex: 1;
  display: flex;
  overflow: hidden;
  justify-content: center;
  font-weight: bold;
}

.carousel-header img {
  height: 4.5rem;
  width: auto;
  margin: 0.5rem 0.5rem;
}

#UERJ-logo {
  height: 5.5rem;
  background-color: #ffffff;
  border-radius: 0px 0px 10px 10px;
  margin-top: 1.2rem;
}